    /***** Generic/Site Wide *****/

body {
    background-color:#E7E6E1;   
    
}

.box-hide{
    display: none;
}

.box-cover{
    visibility: hidden;
}

.btn{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/***** Site Logo *****/
.bulb-logo{
    background-color:#E7E6E1;
    height: 80px;
    width: 80px;
   
}

.game-logo{
    font-family: 'Jomhuria', cursive;
    font-size: 60px;
    padding-left: 20px;
    text-transform: uppercase;
}

/**** Following media query to ensure that on mobile devices the logo text does not wrap****/
@media screen and (max-width: 400px) {
    .game-logo {
        font-size: 45px;
        padding-left: 0;
    }
}


/***** Game Section *****/

/* #start-box{
display: none;
} */

.enter-name{
    font-family: 'Jomhuria', cursive;
    font-size: 45px;
    padding-right: 20px;
    text-transform: uppercase;
}



#start-btn{
    margin-bottom: 20px;
}



.page-box{
    border: 5px solid #ffbe5c; 

}

.game-section{
    background-color: #E7E6E1;
    padding: 20px;
    /* border: 5px solid #ffbe5c;  */
    padding-bottom: 50px;
    border-radius: 5px;

    
}

.question-box{
    text-align: center;
    
}

.question-text{
    font-family: 'Jomhuria', cursive;
    text-align: center;
    font-size: 4em;
}

/**** Following media query to ensure that on mobile devices the question text does not wrap****/
@media screen and (max-width: 400px) {
    .question-text {
        font-size: 3em;
    }
}

.answer-box{
    background-color: #fff;
    font-size: 1.5em;
    border-radius: 10px;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 350px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}




.tick-icon {
    font-size: 10rem;
    color: #50CB93;
}

.cross-icon {
    font-size: 10rem;
    color: #F54748;
}

/* .answer-box-correct {
    border: 10px solid green;
    border-radius: 10px;
}

.answer-box-incorrect {
    border: 10px solid red;
    border-radius: 10px;
} */

.picture-box{
    background-color: #Fff;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 350px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


}

.question-image{
    border-radius: 10px;
}

#question-box{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.answer-field{
    background-color: #f9f9f9;
    border: 2px solid #ffbe5c;
}


.btn-enter{
    margin: 20px;
}

.horizontal-rule{
    border-top: 3px solid #ffbe5c;
    width: 50%;
}

/***** Help Section *****/

.help-section{
    background-color: #E7E6E1;
    padding: 20px;
    /* border: 5px solid #ffbe5c;  */
    border-radius: 10px;
}

.help-section h1{
    font-family: 'Jomhuria', cursive, sans-serif;
}

.help-box{
    background-color: #F9F9F9;
    border-radius: 10px;
    height: auto;
    min-height: 25vh;
}

#multi-help-button{
    margin-bottom: 10px;
}

.horizontal-rule-help{
    color: #ffbe5c;
  border: none;
  border-top: 2px solid;
  width: 10rem;
}

/**** Following media query to remove the hr from larger devices****/
@media screen and (min-width: 992px) {
    .horizontal-rule-help {
        display: none;
    }
}

#visual-clue{
    font-size: 1.5rem;
    padding-top: 20px;
}
/**** Following media query to remove padding on smaller devices - asthetic****/
@media screen and (max-width: 992px) {
    #visual-clue {
        padding-top: 0;
        margin: 0;
        
        
    }
}
/* ***trying to colour the backgrounds to differentiate the sections */
/* .visual-box{
    background-color: #f9f9f9;
}

.audio-box{
    background-color: #fff;
}

.multi-box{
    background-color: #f9f9f9;
} */
  


#audio-clue{
    max-width: 80%;
    padding-top: 25px;
}
#multi-choice-clue{
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding-top: 5px;
  }

.clue-icon{
    font-size: 1.5rem;
}
/***** Score Section *****/

.score-section{ 
    background-color: #E7E6E1;
    padding: 20px;  
    /* border: 5px solid #ffbe5c;  */
    border-radius: 10px;
}
.score-section h1{
    font-family: 'Jomhuria', cursive;
}

.scores{
    font-size: 1.5rem;
}

#user-name{
    font-weight: 600;
}

.score-box{
    background-color: #F9F9F9;
    border-radius: 10px;
    height: auto;
    height: 25vh;
}

#correct{
    color: #50CB93;
    font-size: 1.5rem;
}

#incorrect{
    color: #F54748;
    font-size: 1.5rem;
}

/***** End Section *****/

#end-box{
    margin: auto;
}
#end-btn{
    margin-bottom: 20px;
}

.end-bulb-logo{
    background-color:#E7E6E1;
    height: 80px;
    width: 80px;
}

.end-game-logo{
    font-family: 'Jomhuria', cursive;
    font-size: 60px;
    padding-left: 20px;
    text-transform: uppercase;
}

.congrats-text{
    font-size: 2rem;
}