body {
    background-color:rgb(247, 232, 211);   
}

/***** Site Logo *****/
.bulb-logo{
    background-color:rgb(247, 232, 211);
    height: 80px;
    width: 80px;
   
}

.game-logo{
    font-family: 'Jomhuria', cursive;
    font-size: 60px;
    padding-left: 20px;
}

/***** Game Section *****/

.game-section{
    height: 600px;
    border: 5px solid rgb(247, 232, 211);  
    border-radius: 20px;
    background-color:#fff;
    padding: 20px;
    box-sizing: border-box;
}

.question-box{
    text-align: center;
}

.question-text{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 15px;
    font-size: 1.75em;
}

.game-section h1{
    font-family: 'Jomhuria', cursive;
    text-align: center;
}

.answer-box{
    border: 2px solid black;
    border-radius: 0.5em;
}

.picture-box{
    border: 2px solid black;
    border-radius: 0.5em;
}

.cat-image{
    padding-top: 30px;
    width: 90%;
    height: 90%;
    border-radius: 0.5em;
}

.answer-instruction{
    font-size: 1.5em;
    padding: 20px;
}

.answer-box{
    padding: 20px;
    font-size: 1.5em;
}

.btn-enter{}

/***** Help Section *****/

.help-section{
    height: 300px;
    border: 5px solid rgb(247, 232, 211);
    border-radius: 20px;
    background-color:#fff;
    padding: 20px;
    box-sizing: border-box;

}
.help-section h1{
    font-family: 'Jomhuria', cursive;
    
}

/***** Score Section *****/
.score-section{
    height: 300px;
    border: 5px solid rgb(247, 232, 211); 
    border-radius: 20px; 
    background-color:#fff;
    padding: 20px;
    box-sizing: border-box;
}
.score-section h1{
    font-family: 'Jomhuria', cursive;
}